<div class="chat-page-container d-flex flex-column vh-100">
  <h1 class="live-chat-title">Live Chat</h1>
  <div class="messages-container flex-grow-1 overflow-auto shadow-smooth">
    <div id="messages" data-controller="livechat" data-livechat-target="messages" data-livechat-id-value="<%= @livechat.id %>">
      <% @livechat.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>
  <div class="form-container shadow-smooth">
    <%= simple_form_for [@livechat, Message.new], remote: true, html: { data: { controller: "message-form", action: "submit->message-form#success", message_form_target: "form" } } do |f| %>
      <div class="row d-flex justify-content-center">
        <div class="col-11">
          <%= f.input :content, label: false, input_html: { class: 'form-control flex-grow-1 w-100 mt-3', data: { target: "livechat.messages", message_form_target: "input" }, autocomplete: "off" } %>
        </div>
        <div class="col-1">
          <%= f.button :submit, "Send", class: 'btn btn-custom-primary mt-3' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
